[submodule "f1sim_ws"]
	path = f1sim_ws
	url = https://github.com/thejourneyofbabo/f1sim_ws.git
[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim
[submodule "F1Tenth_MiRu_ws"]
	path = F1Tenth_MiRu_ws
	url = https://github.com/MiRuAE/F1Tenth_MiRu_ws.git
